.card {
 z-index: 10;
 width: 190px;
 height: 254px;
 background: #3d5279;
 border-radius: 15px;
 box-shadow: 1px 5px 60px 0px #100a886b;
}

.card .card-border-top {
 width: 60%;
 height: 3%;
 background: #437272;
 margin: auto;
 border-radius: 0px 0px 15px 15px;
}

.card span {
 font-weight: 600;
 color: white;
 text-align: center;
 display: block;
 padding-top: 10px;
 font-size: 16px;
}
.card p {
 font-weight: 480;
 
 color: white;
 margin-left: 5%;
 display: block;
 padding-top: 10px;
 font-size: 16px;
}
.card .job {
 font-weight: 400;
 color: white;
 display: block;
 text-align: center;
 padding-top: 3px;
 font-size: 12px;
}

.card .img {
 width: 70px;
 height: 80px;
 background: #437272;
 border-radius: 15px;
 margin: auto;
 margin-top: 25px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espacio entre tarjetas */
  margin-top: 40px;
}

.cards-container .card {
  flex: 0 1 190px; /* Mantiene el ancho de la tarjeta */
}

