.projects-grid {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.window{
    display:inline-block;
    margin-top :5%;
    margin-left: 8%;
    z-index:20;
    width: 20%;
    height: 60%;
    
}
.repositorios{
    color:black;

}
.img{
    width: 100%;
    background-color: #335148
}
.description{
    font-family: Arial, Helvetica, sans-serif;

}